<div class= "row">
    <div class= "col-md-12">
        <div class= "card card-body round-corners">
            <div class="card-header pt-0 pb-2">
                <div class= "col-md-3">
                    <div class = "student_image">
                        <img src="assets/img/logo.png">
                    </div>
                </div>
                <div class= "col-md-9">
                    <span class="student_name"> <h2>Manuel Revuelto de la Fuente</h2> </span>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-1 mt-5"></div>
    <div class="col-md-10 mt-5">
      <div class="card">
        <div class="card-header">
          <h4>Incidencias</h4>
        </div>
  
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>FECHA</th>
                <th>MATERIA</th>
                <th>PROFESOR</th>
                <th>DESCRIPION</th>
              </tr>
            </thead>
            <tbody>
              
            </tbody>
          </table>
          <div class="container-buttons">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1 mt-5"></div>
  </div>
  