<div class= "row">
    <div class= "col-md-12">
        <div class= "card card-body round-corners">
            <div class="card-header pt-0 pb-2">
                <div class= "col-md-3">
                    <div class = "student_image">
                        <img src="assets/img/logo.png">
                    </div>
                </div>
                <div class= "col-md-9">
                    <span class="student_name"> <h2>Manuel Revuelto de la Fuente</h2> </span>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-1 mt-5"></div>
    <div class="col-md-10 mt-5">
      <div class="card">
        <div class="card-header">
          <h4>Incidencias</h4>
        </div>
  
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>MATERIA</th>
                <th>ORDINARIA 1</th>
                <th>ORDINARIA 2</th>
                <th>ORDINARIA 3</th>
              </tr>
            </thead>
            <tbody>
              <tr>

                <td>Acceso a datos ( 2º )</td>
                <td>8-NT</td>
                <td>7-NT</td>
                <td>NO CALIF</td>
              </tr>
              <tr>

                <td>Desarrollo de interfaces ( 2º )</td>
                <td>1-IN</td>
                <td>8-NT</td>
                <td>NO CALIF</td>
              </tr>
              <tr>

                <td>Empresa e iniciativa emprendedora ( 2º )</td>
                <td>7-NT</td>
                <td>6-BI</td>
                <td>NO CALIF</td>
              </tr>
              <tr>
              <tr>

                <td>Lengua Extranjera profesional: Inglés 2 ( 2º )</td>
                <td>4-IN</td>
                <td>7-NT</td>
                <td>NO CALIF</td>
              </tr>
              <tr>

                <td>Programación de servicios y procesos ( 2º )</td>
                <td>7-NT</td>
                <td>7-NT</td>
                <td>NO CALIF</td>
              </tr>
              <tr>

                <td>Programación multimedia y dispositivos móviles ( 2º )</td>
                <td>1-IN</td>
                <td>5-NT</td>
                <td>NO CALIF</td>
              </tr>
              <tr>

                <td>Sistemas de gestión empresarial ( 2º )</td>
                <td>6-BI</td>
                <td>6-NT</td>
                <td>NO CALIF</td>
              </tr>
            </tbody>
          </table>
          <div class="container-buttons">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1 mt-5"></div>
  </div>
  